@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
.user-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    cursor: pointer;
    
}

.profile-info{
    text-align: left;
}

.profile-info p{
    margin-bottom: 0px;
    padding-left: 10px;
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height:50px;
    width:50px;
    color: white;
}

.name{
    font-weight: 400 ;
    font-family: 'DM Mono', monospace;
}